{{!< default}}


<div class="container">
  <div class="post__content">
    {{#post}}
      <h2 class="post__content__title">about</h2>
      <div class="post__content__body">{{content}}</div>
      <a class="social-icon" href="http://github.com/chrystalgriffiths"><span class="devicons devicons-github_badge"></span></a>
      <a class="social-icon" href="http://twitter.com/chrystaldev"><i class="fa fa-twitter"></i></a>
      </div>
    {{/post}}
  </div>
</div>