{{!< default}}


<div class="container">
  <div class="post__content">
    {{#post}}
      <h2 class="post__content__title">{{title}} <span class="post__content__title__date">{{date format="MM.DD.YY"}}</span></h2>
      <div class="post__content__body">{{content}}</div>
      </div>
    {{/post}}
  </div>
</div>